#carrie {
    font-family: baskerville;
    color: #FF7769;
    font-size: 50px;
    text-align: center;
}
body {
    background-color: #FFF0CC;
}
#tommy {
    font-family: baskerville;
    color: #FF7769
}
#mary {
    font-family: baskerville;
    color: #000000
}
#swell {
    font-family: baskerville;
}
#jane {
    font-family: baskerville;
}
#shane {
    font-family: baskerville;
}
img {
    height: 200px;
    width: 300px:;
}
