.social {
  float: right
}

#cap1 {
  color: gray;
}
#cap1 {
  font-size: 14px;
}
 h1 {
   font-family: Verdance, Geneva, sans-serif
 }

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
 #bylines {
   font-size: 16px;
   color: gray;
 }
